/*
    RESET 
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    color: white;
    font-family: Arial, Helvetica, sans-serif
}
/*
    HEADER
*/
header{
    width: 100%;
    height: 35px;
    padding: 5px;
    text-align: right;
    background-color: black;

}
header button{
    background-color: #4A4A4A;
    color: white;
    padding: 4px;
    border-radius: 5px;
    border: none;
}
/*
    MAIN
*/
main{
    height: calc(100vh - 95px); 
    overflow-y: auto;
    background-color: black;
    padding: 20px 0;
}
main .Container-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
main .Container-card > * {
    width: calc(100% / 8);
    height: 120px;
    margin: 5px;
}
main .Container-card .single-card{
    background-image: url("https://picsum.photos/200");
    background-size: cover;
    background-position: center;
}
.single-card {
    position: relative;
}

.single-card button {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(143, 135, 135, 0.452);
    color: white;
    border: none;
    padding: 3px;
    font-weight: bolder;
}

/*
    FOOTER
*/
footer{
    height: 60px; 
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer button{
    height: 100%;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    padding: 5px;
    color: white;
}
footer .center button{
    vertical-align: middle;
    background-color: transparent;
    border: none;
    
    color: white;
}
footer button > i + div{
    margin-top: 5px;
}

footer .right {
    background-color: #4A4A4A;
    height: 100%;
    padding: 5px;
}
footer .right button {
    color: red;
    font-size: 1em;
}
